.AdsMainDiv {
  width: auto;
  height: 165px;
  margin-top: 2rem;
  border-radius: 29px;
  background: linear-gradient(90deg, #7286b4 0%, #e794ce 100%);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 165px; // Adjust font size for screens less than 768px
  }

  img {
    position: relative;
    bottom: 28px;
    height: 12rem;

    @media (max-width: 768px) {
      height: 12rem; // Adjust font size for screens less than 768px
    }
  }

  .offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 50px;
    top: 13px;

    p {
      color: #2e0052;
      font-family: "Roboto";
      font-size: 2.5rem; // Default font size
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @media (max-width: 768px) {
        font-size: 1.5rem; // Adjust font size for screens less than 768px
      }
    }

    button {
      margin-top: 0.8rem;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      background: #2e0052;
      width: 100px;
      height: 28px;
      color: #fff;
      font-family: "Roboto";
      font-size: 1.2rem; // Default font size
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (max-width: 768px) {
        font-size: 0.8rem;
        width: 70px;
        height: 20px;
      }
    }
  }
}
