.checkOSMainDiv {
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .backBtnC {
    border: none;
    padding: 0.7rem;
    cursor: pointer;
    border-radius: 14px;
    background: #2e0052;
    align-self: flex-start;
    color: #fff;
    font-family: "Roboto";
    font-size: 18.125px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  center {
    color: #000;
    font-family: "Roboto";
    font-size: 29.831px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.checkOSsubDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    flex-wrap: wrap;
  }

  hr {
    background: #e1e1e1;
    height: 1.871px;
    margin-top: 1rem;
  }

  .fl {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    margin-top: 1rem;
  }
}

.txtRed {
  color: #b52b00;
  font-family: "Roboto";
  font-size: 15.457px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.txtgray {
  color: #797979;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.txtName {
  color: #000;
  font-family: "Roboto";
  font-size: 13.925px;
  font-style: normal;
  font-weight: 600;
}

.txtEstTime {
  color: #000;
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.productDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.2rem;

  .imgDivP {
    border: 2px solid lightgray;
    border-radius: 6.117px;
    img {
      width: 145.145px;
      height: 140.017px;
    }
  }
}

.placeOrderDiv {
  box-sizing: border-box;
  border-radius: 12px;
  border: 2px solid #e1e1e1;
  margin: 1rem 0rem;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.7rem;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  button {
    border: none;
    width: 183px;
    height: 32px;
    border-radius: 8px;
    background: #ffd600;
    cursor: pointer;
    color: #000;

    font-family: "Roboto";
    font-size: 14.75px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}

.placeOrderDivtxt {
  display: flex;
  flex-direction: column;
}

.totaldiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: 100%;
    display: none;
  }
}

.steps {
  width: 100%;
}

.summaryDiv {
  width: 322px;
  height: 294px;
  border-radius: 16px;
  border: 4px solid #e1e1e1;
  background: #fff;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  button {
    margin: 0.8rem 0rem;
    border: none;
    width: 90%;
    height: 40px;
    border-radius: 7.333px;
    background: #ffd600;
    cursor: pointer;
    color: #000;
    text-align: center;
    font-family: "Roboto";
    font-size: 18.111px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    text-align: center;
    color: #000;
    font-family: "Roboto";
    font-size: 11.75px;
    font-style: normal;
    font-weight: 400;
  }

  hr {
    width: 95%;
  }

  .txtH {
    align-self: flex-start;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: #000;
    text-align: left;
    font-family: "Roboto";
    font-size: 21.566px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .itemsPdiv {
    margin-top: 0.5rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;

    p {
      color: #797979;
      font-family: "Roboto";
      font-size: 13.793px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.098px;
    }
  }
}

.f2 {
  margin-top: 0.8rem;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  p {
    color: #b52b00;
    text-align: center;
    font-family: "Roboto";
    font-size: 18.566px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.gridProdContain {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.productDiv {
  flex-basis: calc(33.3333% - 1rem);
  margin-bottom: 1rem;
}
