.mainFinalScreenDiv {
  margin: 4rem 12rem 0rem 12rem;
  width: auto;
  height: 350px;
  border-radius: 11px;
  border: 3px solid #e3e3e3;
  background: #fff;
  box-shadow: 14px 16px 23px 2px rgba(0, 0, 0, 0.11);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  img {
    width: 7.5rem;
  }

  .textDeco1 {
    color: #000;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .textDeco2 {
    color: #969696;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  button {
    width: 300px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #2e0052;
    color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 17px;
      width: 170px;
      height: 22px;
      margin-top: 1rem; /* Add margin for spacing */
    }
  }
}

@media (max-width: 768px) {
  .mainFinalScreenDiv {
    margin: 2rem;
    margin-top: 10rem;
    height: auto;
    padding: 1rem;
    text-align: center;
    box-shadow: none;
  }
}
