.mainContainerGridCard {
  margin-bottom: 2rem;
  box-sizing: border-box;
  flex-grow: 1;
  cursor: pointer;

  @media (max-width: 768px) {
    height: 235px;

    border-radius: 5.649px;
    border: 1.13px solid #cecece;
    background: #fff;
  }

  .imgContainerGridCard {
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 30px solid #d4e5ff;

    .cartLogoGridCard {
      position: absolute;
      bottom: -1rem;
      right: -10px;
    }

    @media (max-width: 768px) {
      border: 15px solid #d4e5ff;

      border-radius: 5.649px;
      background: rgba(0, 102, 255, 0.17);
    }

    box-sizing: border-box;
    img {
      width: 11.5rem;
      height: 11.5rem;
      object-fit: contain;

      @media (max-width: 768px) {
        width: 6.5rem;
        height: 6.5rem;
      }
    }
  }

  .GridCardData {
    margin-left: 0.6rem;
    word-wrap: break-word;
    width: 16.5rem;

    @media (max-width: 768px) {
      width: 8.5rem;
      padding: 0.8rem 0rem;
    }

    p {
      color: #000;
      font-family: "Roboto";
      font-size: 16.411px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media (max-width: 768px) {
        font-size: 12.411px;
      }
    }

    .prodNameGridCard {
      font-weight: 700;
    }
  }
}
