.SearchProductHeaderMobileView {
  margin: 0;
  width: 100%;
  background-color: #2e0052;
  text-align: center;
  color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  z-index: 5;

  input {
    width: 75%;
    height: 3rem;
    margin: 1.5rem;
    color: black;
    font-family: "Roboto";
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    &::placeholder {
      color: #909090;
    }
  }

  .filterDataDivHeader {
    position: absolute;
    top: 76px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;

    .filterDataDivHeaderP {
      //   text-align: left;
      width: 100%;
      color: #333;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }
}
