.searchBar {
  position: relative;
  box-sizing: border-box;
  position: relative;
  .searchIcon {
    box-sizing: border-box;
    position: absolute;
    top: 36px;
    left: 15px;
  }
  input {
    box-sizing: border-box;
    margin: 2rem 0rem;
    border-radius: 48px;
    border: 3px solid #c8c8c8;
    background: #fff;
    width: 100%;
    height: 40px;
    padding-left: 55px;

    color: black;
    font-family: "Roboto";
    font-size: 23.546px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &::placeholder {
      color: #666;
      font-family: "Roboto";
      font-size: 23.546px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .filterSearchBarDatadesk {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    border: 2px solid #c8c8c8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 1rem;

    .filterSearchBarDatadeskP {
      width: 100%;
      color: #333;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
    }
  }
}

.filterMianDiv {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ///// **** responsive scroller ////
  @media (max-width: 768px) {
    width: 100%; /* Ensure the div takes the full width of its container */
    max-width: 768px; /* Set a maximum width for the container */
    overflow-x: auto; /* Add a horizontal scrollbar when content overflows */
    white-space: nowrap;
  }

  .gridOrListDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;

    svg {
      cursor: pointer;
    }
  }

  .filtersContainers {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    select {
      box-sizing: border-box;
      height: 2rem;
      padding: 0.3rem;
      border-radius: 34.145px;
      background: #d9d9d9;
    }
  }

  #Featured_ {
    height: 2rem;
    padding: 0.3rem;
    border-radius: 30.731px;
    border: 3px solid #e1e1e1;
    background: #fff;
  }
}

.productListDiv {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  @media (max-width: 768px) {
  }
}

.productListDiv2 {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.productListDiv,
.productListDiv2 {
  position: relative;
  z-index: 1;
  /* other styles */
}
