.mainContainerListCard {
  margin-bottom: 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .imgContainerListCard {
    box-sizing: border-box;
    position: relative;
    border: 30px solid #d4e5ff;
    box-sizing: border-box;

    .cartLogoListCard {
      position: absolute;
      position: absolute;
      bottom: -1rem;
      right: -10px;
    }
    img {
      width: 12.5rem;
      height: 12.5rem;
      object-fit: cover;
    }
  }

  .ListCardData {
    margin-left: 0.6rem;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-left: 1rem;

    .prodNameListCard {
      font-size: 42.992px;
      font-weight: 600;
    }

    p {
      color: #000;
      font-family: "Roboto";
      font-size: 20.479px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .detailsBtnListCard {
      border-radius: 26.121px;
      background: #2e0052;
      width: 150px;
      height: 35px;
      color: #fff;

      font-family: "Roboto";
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
