.webHeadingNCartBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5rem;
  z-index: inherit;

  .header {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    gap: 0.2rem;

    img {
      height: 2rem;
    }

    p {
      margin-left: 0.6rem;
      color: #000;
      font-family: "Roboto";
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      align-self: flex-end;
    }
  }

  .ViewCartBtn {
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 47px;
    background: #1d7000;
    width: 132px;
    height: 35px;
    color: #ffffff;
  }
}
