.cartScreenDviewMain {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.cartScreenDviewMain .backBtn {
  align-self: flex-start;
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 14px;
  background: #2e0052;
  color: #fff;
  font-family: "Roboto";
  font-size: 18.125px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cartScreenDviewMain center {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
}
.cartScreenDviewMain center p {
  color: #000;
  font-family: "Roboto";
  font-size: 29.831px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.cartScreenDviewMain .cartDGrid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  width: 100%;
  margin-top: 3rem;
  gap: 0.5rem;
}
.cartScreenDviewMain .cartDGrid .ListOfProducts {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0px;
  gap: 2.5rem;
  border-top: 3px solid #e1e1e1;
  border-bottom: 3px solid #e1e1e1;
}
.cartScreenDviewMain .cartDGrid .ListOfProducts .ImgDiv {
  border-radius: 6.117px;
  border: black solid;
}
.cartScreenDviewMain .cartDGrid .ListOfProducts .Pdtls1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.7rem;
}
.cartScreenDviewMain .cartDGrid .ListOfProducts .Pdtls1 p {
  color: #a2a2a2;
  font-family: "Roboto";
  font-size: 16.793px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.098px;
}
.cartScreenDviewMain .cartDGrid .ListOfProducts .Pdtls1 .Pdtls1_name {
  color: #000;
  font-family: "Roboto";
  font-size: 19.925px;
  font-style: normal;
  font-weight: 600;
  line-height: 36.967px;
}
.cartScreenDviewMain .cartDGrid .Pdtls2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.cartScreenDviewMain .cartDGrid .Pdtls2 p {
  color: #000;
  font-family: "Roboto";
  font-size: 19.925px;
  font-style: normal;
  font-weight: 400;
  line-height: 36.967px;
}
.cartScreenDviewMain .cartDGrid .Pdtls3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.cartScreenDviewMain .cartDGrid .Pdtls3 select {
  border-radius: 2.871px;
  border: 0.957px solid #bebebe;
  background: #fff;
  width: 78.963px;
  height: 20.665px;
}
.cartScreenDviewMain .cartDGrid .Pdtls4 p {
  color: #000;
  font-family: "Roboto";
  font-size: 19.925px;
  font-style: normal;
  font-weight: 500;
  line-height: 36.967px;
}

.RemoveBtn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: none;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  height: 38px;
  border-radius: 14px;
  width: 100px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: red;
  font-family: "Roboto";
}
.RemoveBtn:focus {
  outline: none;
}
.RemoveBtn:hover {
  background-color: #fff5f5;
}

.totalDes {
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-left: 3px solid #e1e1e1;
  height: 288.693px;
  flex-direction: column;
  width: 298px;
  gap: 1rem;
}
.totalDes .totalDestxt {
  color: #000;
  font-family: "Roboto";
  font-size: 17.167px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
}
.totalDes .ttHD {
  font-weight: 500;
  font-size: 20.167px;
}
.totalDes .infoDivtxtDesk {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalDes .infoDivtxtDesk .infoDivtxtDesktxt2 {
  text-align: right;
}
.totalDes .finalttDesk {
  margin-top: 100px;
}
.totalDes .finalttDesk .finalTAdesk {
  font-size: 23.93px;
  font-weight: 500;
}

.cartitemDesk {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.placeOrderBtn {
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  color: #000;
  padding: 1rem;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  width: 270px;
  height: 50px;
  border-radius: 6px;
  background: #ffd600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartScrrenMVMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cartScrrenMVMain .csbtnmv {
  align-self: flex-start;
  cursor: pointer;
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.cartScrrenMVMain .listcartproductsMvDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.cartScrrenMVMain .itemDivmv {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
  background: #dbdbdb;
  width: 100%;
  height: auto;
}
.cartScrrenMVMain .itemDivmv .imgDivCartMv img {
  border-radius: 3.539px;
  border: 3px solid lightgray;
  object-fit: fill;
  width: 164.967px;
  height: 162px;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .txtmvcart {
  color: #000;
  font-family: "Roboto";
  font-size: 12.29px;
  font-style: normal;
  font-weight: 500;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .nameCmv {
  font-size: 15.89px;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .priceCmv {
  font-size: 20.191px;
  font-weight: 500;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .totalDivcartMV {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .totalDivcartMV .tttxtcartMv {
  font-size: 16.526px;
}
.cartScrrenMVMain .itemDivmv .infoDivCartMv .totalDivcartMV .ttcartMv {
  font-size: 16.53px;
  font-weight: 500;
}
.cartScrrenMVMain hr {
  margin: 2rem 0rem;
  width: 332.014px;
  height: 0.8px;
}
.cartScrrenMVMain .totalAmtFinalMv {
  margin-bottom: 2rem;
  align-self: flex-start;
  color: #000;
  font-family: "Roboto";
  font-size: 20.727px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cartScrrenMVMain .totalAmtFinalMv span {
  font-size: 20.727px;
  font-weight: 800;
}
.cartScrrenMVMain .btnmvcart {
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  background: #ffd600;
  width: 319px;
  height: 44px;
  margin-bottom: 4rem;
}/*# sourceMappingURL=CartScreen.css.map */