.mobileViewFooter {
  z-index: 5;
  width: 100%;
  border: 1px solid #c8c8c8;
  background: #fff;
  position: fixed;
  bottom: 0;
  color: #000;
  height: 52px;
  font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mobileViewFooter .contMV {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.2rem;
}/*# sourceMappingURL=Footer.css.map */