/* Add a base font size for better responsiveness */
/* Use responsive units for padding and margin */
.LoginScreenMainDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  /* Adjust padding and margin for responsiveness */
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .LoginScreenMainDiv {
    margin-top: 10rem;
  }
}

.HeadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .HeadingDiv {
    display: none;
  }
}
.HeadingDiv img {
  display: inline;
  max-width: 100%;
}
.HeadingDiv h1 {
  display: inline;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.boxConatainer {
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
  margin: 0 1rem 10vh 1rem; /* 10vh for the footer */
  gap: 1rem;
  border: 3px solid #d9d9d9;
  border-radius: 1rem;
}
.boxConatainer input {
  box-sizing: border-box;
  border: 2px solid #b6b6b6;
  border-radius: 0.5rem;
  width: 100%;
  height: 2.2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: "Roboto";
}
.boxConatainer button {
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  height: 2.8rem;
  background-color: #2e0052;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}

.SignIndiv {
  letter-spacing: 0em;
  text-align: left;
}
.SignIndiv h3 {
  font-family: "Roboto";
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.SignIndiv label {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.SignIndiv p {
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

@media screen and (max-width: 768px) {
  .HeadingDiv h1 {
    font-size: 1.5rem;
  }
  .boxConatainer {
    /* Adjust padding and margin for smaller screens */
    padding: 0.5rem;
    margin: 0 0.5rem 10vh 0.5rem; /* 10vh for the footer */
  }
  .SignIndiv h3 {
    font-size: 2rem;
  }
  .SignIndiv label {
    font-size: 1.2rem;
  }
  .SignIndiv p {
    font-size: 1rem;
  }
}
.newUser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.newUser hr {
  transform: rotate(180deg);
  width: 12.2rem;
}

.regBtn {
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 100%; /* Make button width responsive */
  max-width: 38rem; /* Limit max width for larger screens */
  border-radius: 10px;
  margin-bottom: 2rem;
}/*# sourceMappingURL=LoginScreen.css.map */