.SingleProductScreenMainDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  flex-wrap: wrap;
}
.SingleProductScreenMainDiv .backBtn {
  border: none;
  padding: 0.7rem;
  cursor: pointer;
  border-radius: 14px;
  background: #2e0052;
  color: #fff;
  font-family: "Roboto";
  font-size: 18.125px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.SingleProductScreenMainDiv .singleProductDiscription {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin: 1.5rem 0rem 1rem 0rem;
}
.SingleProductScreenMainDiv .detailsMainDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.SingleProductScreenMainDiv .detailsMainDiv .detailsMainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SingleProductScreenMainDiv .detailsMainDiv .imageDiv {
  border: 5px solid black;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SingleProductScreenMainDiv .detailsMainDiv .imageDiv img {
  height: 440px;
  width: 424px;
  object-fit: cover;
}
.SingleProductScreenMainDiv .detailsMainDiv .DetailsMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.SingleProductScreenMainDiv .detailsMainDiv .DetailsMain .productName {
  margin-top: 1rem;
  color: #000;
  font-family: "Roboto";
  font-size: 31.995px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.SingleProductScreenMainDiv .detailsMainDiv .DetailsMain .detailsText {
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.SingleProductScreenMainDiv .detailsMainDiv .DetailsMain .priceDet {
  font-size: 27.972px;
  font-weight: 600;
}
.SingleProductScreenMainDiv .addtopcartSection {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 3rem;
}
.SingleProductScreenMainDiv .addtopcartSection .disImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.7rem;
}
.SingleProductScreenMainDiv .addtopcartSection .disImgs img {
  width: 160px;
}
.SingleProductScreenMainDiv .addtopcartSection .atcNbnBtns {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.SingleProductScreenMainDiv .addtopcartSection .atcNbnBtns button {
  color: #000;
  font-family: "Roboto";
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
  width: 300px;
  height: 40px;
  border-radius: 40px;
}
.SingleProductScreenMainDiv .addtopcartSection .atcNbnBtns .buyNowbtn {
  background: #ffb800;
}
.SingleProductScreenMainDiv .addtopcartSection .atcNbnBtns .addToCartbtn {
  background: #ffd600;
}

.BackBtnM {
  align-self: flex-start;
  cursor: pointer;
}

.SingleProductScreenMainDivMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 120px;
}
.SingleProductScreenMainDivMobile .buyBtnM {
  margin: 1rem 0rem;
  border: none;
  border-radius: 8px;
  background: #ffb800;
  width: 100%;
  height: 40px;
  color: #000;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.SingleProductScreenMainDivMobile .addM {
  margin-bottom: 0rem;
  background: #ffd600;
}
.SingleProductScreenMainDivMobile .finalbtn {
  margin-bottom: 4rem;
}

.imageDivM {
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDivMIMG {
  width: 316.972px;
  height: 311.271px;
  object-fit: cover;
}

.infoDivM {
  margin-top: 1rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
.infoDivM .txtInfoM {
  color: #000;
  font-family: "Roboto";
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}
.infoDivM .pNameM {
  font-size: 30.006px;
  font-weight: 600;
}
.infoDivM .crM {
  font-size: 15.281px;
}
.infoDivM .discriptionMv {
  font-size: 16px;
}
.infoDivM .atiMv {
  font-size: 17.45px;
  font-weight: 500;
}
.infoDivM .InM {
  font-size: 17.79px;
  font-weight: 500;
}

.sliderDiv {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}/*# sourceMappingURL=SingleProductScreen.css.map */